.f-page {
    background-image: url(./img/banner.jpeg);
    background-size: cover;
    height: 100vh;
    padding-top: 20%;
    padding-bottom: 20%;
    color: purple;
}

.circle {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: #dc3545;
}